# Node dependencies
node_modules/

# Environment files
.env
.env.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Operating system files
.DS_Store
Thumbs.db

# IDEs and editors
.idea/
.vscode/
.eslintcache

# Build artifacts
dist/
build/

# Test coverage
coverage/
